<div class="container">
  <div class="filter-container">
    <app-dropdown
      class="filter-item dropdown"
      id="clientDropdown"
      label="Client"
      placeholder="Select customer"
      [options]="customerOptions"
      [selectedOption]="selectedCustomer"
      (onOptionSelect)="onSelectCustomer($event)"
    ></app-dropdown>

    <app-dropdown
      class="filter-item dropdown"
      id="projectDropdown"
      label="Project"
      placeholder="Select Project"
      [selectedOption]="selectedProject"
      [options]="projectOptions"
      (onOptionSelect)="onSelectProject($event)"
    ></app-dropdown>

    <app-search
      class="filter-item"
      placeholder="Search..."
      (search)="onSearch($event)"
    ></app-search>
  </div>
  <p-card>
    <p-table
      [value]="customers"
      [globalFilterFields]="['name', 'projectName', 'employees']"
      responsiveLayout="stack"
      (onSort)="onSort($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">
            Customer Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="projectName">
            Project Name <p-sortIcon field="projectName"></p-sortIcon>
          </th>
          <th pSortableColumn="employees">
            Employees <p-sortIcon field="employees"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>{{ customer.name }}</td>
          <td>{{ customer.projectName }}</td>
          <td>
            <ul>
              <ng-container
                *ngIf="
                  customer.employees && customer.employees.length > 0;
                  else noEmployees
                "
              >
                <li *ngFor="let employee of customer.employees">
                  {{ employee }}
                </li>
              </ng-container>

              <ng-template #noEmployees>
                <div></div>
              </ng-template>
            </ul>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
