.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(180, 45, 45, 0.1);

}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

app-search {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

:host ::ng-deep .p-datatable {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

:host ::ng-deep .p-datatable-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

:host ::ng-deep .p-datatable-thead > tr > th {
  background-color: #f4f4f4;
  padding: 12px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

:host ::ng-deep .p-datatable-tbody > tr > td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

:host ::ng-deep .p-datatable-tbody > tr:hover {
  background-color: #f9f9f9;
}

:host ::ng-deep .p-datatable-tbody > tr:last-child > td {
  border-bottom: none;
}

:host ::ng-deep ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

:host ::ng-deep li {
  padding: 4px 0;
}

:host ::ng-deep .p-datatable-thead > tr > th.p-sortable-column {
  cursor: pointer;
}

:host ::ng-deep .p-datatable-thead > tr > th.p-sortable-column:hover {
  background-color: #e9e9e9;
}


@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
   
  }

  .filter-item {
    margin-bottom: 10px;
    width: 100%;
  }

  app-search {
    display: flex;
    justify-content: flex-start;
  }
}