.dropdown-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
  justify-content: flex-start;
  min-width: 250px;
}

.dropdown-container p-dropdown {
  width: 100%;
}

:host ::ng-deep .p-dropdown-items-wrapper {
  padding: 10px;
}
